In [2]:
import pandas as pd
file_path = 'education.xlsx'
table_5_2 = pd.read_excel(file_path, sheet_name='Table 5.2', skiprows=1)[1:]
table_5_4 = pd.read_excel(file_path, sheet_name='Table 5.4', skiprows=1)

In [28]:
import warnings
from pandas.errors import SettingWithCopyWarning

warnings.simplefilter(action='ignore', category=SettingWithCopyWarning)

In [3]:
table_5_2.columns = [
    'Typical_Entry_Level_Education',
    'Employment_2019',
    'Employment_Distribution_2019',
    'Employment_Change_Percent_2019_29',
    'Median_Annual_Wage_2020'
]

In [4]:
table_5_2 = table_5_2.dropna()
table_5_2

,Typical_Entry_Level_Education,Employment_2019,Employment_Distribution_2019,Employment_Change_Percent_2019_29,Median_Annual_Wage_2020
1,Doctoral or professional degree,4412.8,2.7,5.9,110200.0
2,Master's degree,2633.9,1.6,15.0,78210.0
3,Bachelor's degree,36864.2,22.6,6.4,77920.0
4,Associate's degree,3601.6,2.2,6.2,56590.0
5,Postsecondary nondegree award,10093.2,6.2,5.6,41520.0
6,"Some college, no degree",4085.0,2.5,-0.1,37770.0
7,High school diploma or equivalent,62410.0,38.3,1.5,39070.0
8,No formal educational credential,38694.8,23.8,3.3,27510.0

In [5]:
table_5_4.columns = [
    'Job_Title',
    'Code',
    'Typical_Education',
    'Work_Experience',
    'On_The_Job_Training'
]

In [6]:
table_5_4['Work_Experience'] = table_5_4['Work_Experience'].fillna('No prior experience')
table_5_4 = table_5_4.drop(columns='On_The_Job_Training')
table_5_4 = table_5_4.dropna()

In [7]:
table_5_4

,Job_Title,Code,Typical_Education,Work_Experience
0,Chief executives,11-1011,Bachelor's degree,5 years or more
1,General and operations managers,11-1021,Bachelor's degree,5 years or more
2,Legislators,11-1031,Bachelor's degree,Less than 5 years
3,Advertising and promotions managers,11-2011,Bachelor's degree,Less than 5 years
4,Marketing managers,11-2021,Bachelor's degree,5 years or more
...,...,...,...,...
785,"Pump operators, except wellhead pumpers",53-7072,High school diploma or equivalent,No prior experience
786,Wellhead pumpers,53-7073,High school diploma or equivalent,Less than 5 years
787,Refuse and recyclable material collectors,53-7081,No formal educational credential,No prior experience
788,"Tank car, truck, and ship loaders",53-7121,No formal educational credential,No prior experience
789,"Material moving workers, all other",53-7199,No formal educational credential,No prior experience

In [8]:
merged_data = pd.merge(
    table_5_2,
    table_5_4,
    how='inner',
    left_on='Typical_Entry_Level_Education',
    right_on='Typical_Education'
)

# Step 3: Display merged data
print("Merged Data:")
merged_data

Merged Data:

,Typical_Entry_Level_Education,Employment_2019,Employment_Distribution_2019,Employment_Change_Percent_2019_29,Median_Annual_Wage_2020,Job_Title,Code,Typical_Education,Work_Experience
0,Doctoral or professional degree,4412.8,2.7,5.9,110200.0,Biochemists and biophysicists,19-1021,Doctoral or professional degree,No prior experience
1,Doctoral or professional degree,4412.8,2.7,5.9,110200.0,"Medical scientists, except epidemiologists",19-1042,Doctoral or professional degree,No prior experience
2,Doctoral or professional degree,4412.8,2.7,5.9,110200.0,Astronomers,19-2011,Doctoral or professional degree,No prior experience
3,Doctoral or professional degree,4412.8,2.7,5.9,110200.0,Physicists,19-2012,Doctoral or professional degree,No prior experience
4,Doctoral or professional degree,4412.8,2.7,5.9,110200.0,"Clinical, counseling, and school psychologists",19-3031,Doctoral or professional degree,No prior experience
...,...,...,...,...,...,...,...,...,...
785,No formal educational credential,38694.8,23.8,3.3,27510.0,Machine feeders and offbearers,53-7063,No formal educational credential,No prior experience
786,No formal educational credential,38694.8,23.8,3.3,27510.0,"Packers and packagers, hand",53-7064,No formal educational credential,No prior experience
787,No formal educational credential,38694.8,23.8,3.3,27510.0,Refuse and recyclable material collectors,53-7081,No formal educational credential,No prior experience
788,No formal educational credential,38694.8,23.8,3.3,27510.0,"Tank car, truck, and ship loaders",53-7121,No formal educational credential,No prior experience
789,No formal educational credential,38694.8,23.8,3.3,27510.0,"Material moving workers, all other",53-7199,No formal educational credential,No prior experience

In [9]:
# To find the maximum value in a column
max_value = merged_data['Median_Annual_Wage_2020'].max()
print("Maximum value:", max_value)

# To find the minimum value in a column
min_value = merged_data['Median_Annual_Wage_2020'].min()
print("Minimum value:", min_value)

Maximum value: 110200.0
Minimum value: 27510.0

In [10]:
merged_data.columns

Index(['Typical_Entry_Level_Education', 'Employment_2019',
       'Employment_Distribution_2019', 'Employment_Change_Percent_2019_29',
       'Median_Annual_Wage_2020', 'Job_Title', 'Code', 'Typical_Education',
       'Work_Experience'],
      dtype='object')

In [11]:
education_options = table_5_2['Typical_Entry_Level_Education'].unique()

In [16]:
def get_user_input():
    print("Please enter your education level:")

    # Get user's choice
    education_level = int(input(f"Enter the number corresponding to your education level (1 to {len(education_options)}): "))

    print("Please enter your desired minimum salary:")
    desired_salary = float(input("Enter the minimum salary (e.g., 60000): "))

    # Return the selected education and desired salary
    selected_education = education_options[education_level - 1]
    return selected_education, desired_salary

# Get the unique education options from the dataset
get_user_input()

Please enter your education level:
Please enter your desired minimum salary:

("Master's degree", 50000.0)

In [ ]:
# Content Based Filtering

In [19]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
# Preprocess the data for content-based filtering
def preprocess_job_data(df):
    # Modify the DataFrame safely using `.loc[]`
    df.loc[:, 'Salary'] = df['Median_Annual_Wage_2020'].apply(lambda x: f"salary_{int(x // 10000)}k")
    df.loc[:, 'Combined_Features'] = (df['Typical_Education'].fillna('') + ' ' +
                                      df['Work_Experience'].fillna('') + ' ' +
                                      df['Salary'])
    return df

In [25]:
def filter_salary_data(df, desired_salary):
    # Filter data based on the desired minimum salary
    salary_max = desired_salary + 15000
    salary_min = desired_salary - 15000
    filtered_df = df[(df['Median_Annual_Wage_2020'] >= salary_min) & (df['Median_Annual_Wage_2020'] <= salary_max)]
    return filtered_df

In [26]:
def build_recommendation_system(df, user_education, desired_salary):
    # Step 1: Filter jobs by salary
    df = df.copy()
    salary_filtered_df = filter_salary_data(df, desired_salary)

    # Check if any jobs meet the salary criteria
    if salary_filtered_df.empty:
        print("\nNo jobs meet your desired salary. You may need to lower your salary expectations.")
        return pd.DataFrame()  # Return empty DataFrame

    # Step 2: Preprocess data and combine features
    salary_filtered_df = preprocess_job_data(salary_filtered_df)

    # Add user query as a new row
    user_query = {'Typical_Education': user_education,
                  'Work_Experience': 'No prior experience',
                  'Median_Annual_Wage_2020': desired_salary,
                  'Salary': f"salary_{int(desired_salary // 10000)}k",
                  'Combined_Features': f"{user_education} No prior experience salary_{int(desired_salary // 10000)}k"}

    # Append user query to the DataFrame
    salary_filtered_df = pd.concat([salary_filtered_df, pd.DataFrame([user_query])], ignore_index=True)

    # Step 3: TF-IDF Vectorization
    vectorizer = TfidfVectorizer()
    tfidf_matrix = vectorizer.fit_transform(salary_filtered_df['Combined_Features'])

    # Step 4: Calculate Cosine Similarity
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

    # Find the similarity scores for the last row (user query)
    user_similarity_scores = cosine_sim[-1][:-1]

    # Sort jobs by similarity scores
    salary_filtered_df['Similarity'] = user_similarity_scores.tolist() + [1.0]  # Add 1.0 for the user query
    recommendations = salary_filtered_df[:-1].sort_values(by='Similarity', ascending=False)

    # Return top recommendations
    if recommendations.empty:
        print("\nNo jobs match your education level. Consider obtaining higher qualifications.")
        return pd.DataFrame()
    return recommendations[['Job_Title', 'Median_Annual_Wage_2020', 'Work_Experience']].head(5)

In [19]:
# Present the dynamic options based on the values in the 'Typical_Entry_Level_Education' column
for idx, education in enumerate(education_options, 1):
    print(f"{idx}. {education}")

1. Doctoral or professional degree
2. Master's degree
3. Bachelor's degree
4. Associate's degree
5. Postsecondary nondegree award
6. Some college, no degree
7. High school diploma or equivalent
8. No formal educational credential

In [29]:
# User input
user_education, desired_salary = get_user_input()

# Build recommendation system
recommendations = build_recommendation_system(merged_data, user_education, desired_salary)

# Display results
if not recommendations.empty:
    print("\nTop 5 Recommended Careers Based on Your Preferences:")
    display(recommendations)
else:
    print("\nNo suitable recommendations found. Please adjust your inputs as suggested.")

Please enter your education level:
Please enter your desired minimum salary:

Top 5 Recommended Careers Based on Your Preferences:

,Job_Title,Median_Annual_Wage_2020,Work_Experience
25,Broadcast technicians,56590.0,No prior experience
44,Medical equipment repairers,56590.0,No prior experience
24,"Preschool teachers, except special education",56590.0,No prior experience
1,Computer network support specialists,56590.0,No prior experience
26,Radiation therapists,56590.0,No prior experience